@media (max-width: 320px) {
    .card-columns {
        column-count: 1 !important;
    }
}

@media (min-width: 320px) {
    .card-columns {
        column-count: 2 !important;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 3 !important;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 4 !important;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 6 !important;
    }
}